build/
*.o
*.exe
tripletail-overlay
tripletail-overlay.exe
volume.txt
assets/Poppins-Bold.ttf
assets/Poppins-SemiBold.ttf
assets/Poppins-Regular.ttf
assets/Poppins-Medium.ttf
assets/poppins_reg.ttf
assets/poppins_med.ttf
position.txt
name.txt